<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Order Tracking - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
  </head>
  <body>
    

    <div class="index-main-div">
      <%- include("components/header.ejs") %>
      <div class="index-hero-div d-flex flex-row">
        <div class="index-hero-text d-flex align-items-center">
          <div class="index-hero-text-container d-flex flex-column">
            <p class="hero-text">
              <span style="color: rgb(255, 209, 149);">Welcome </span>to <br>
              <span>The World of</span> <br>
              Authentic <span style="color: rgb(225,71,30);">Italian</span><span style="color: rgb(255, 209, 149);"> Cuisine</span>
            </p>
            <div class="mask">
              <span data-show>Destination for Italian Pizzas</span>
              <span>Gourmet Burgers!</span>
              <span>Two Worlds in One Plate</span>
              <span>Unique Pizza-Burger Experience!</span>
            </div>
            <div class="hero-order">
              <button class="hero-order-btn d-flex flex-row align-items-center justify-content-center">
                <p class="hero-order-btn-text">Order Now</p>
                <img class="hero-order-btn-icon" src="/images/order.svg" alt="order">
              </button>
            </div>
          </div>
        </div>
        <div class="index-hero-img">
          <img class="index-hero-pizza-img" src="/images/pizza1.png" alt="pizza">
          <!-- <div class="index-hero-img-bg"></div> -->
        </div>
      </div>
      <div class="index-menu">
        <p>Explore Menu</p>
        <div class="index-menu-pizza">
          <p>Pizzas</p>
        </div>
        <div class="index-menu-burger">
          <p>Burgers</p>
        </div>
      </div>
    </div>

    <script>
      window.onload = () => {
        const navLinks = document.querySelectorAll(".nav-link");
        for (let i = 0; i < navLinks.length; i++) {
          if (navLinks[i].getAttribute("href") == "/") {
            navLinks[i].classList.add("active");
            break;
          }
        }
      };
    </script>
    <script src="/js/script1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>