:root {
    --offset: 6px;
}

.navbar {
    height: 3.5rem;
    /* background-color: rgb(225, 71, 30); */
    background-color: rgb(255, 200, 112);
    /* padding: 0.5rem 2rem 0.5rem 2rem; */
}

.nav-item {
    margin: 0 0.5rem 0 0;
    height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    /* border: 1px solid rgb(225, 71, 30); */
    background-color: rgb(225, 71, 30, 0.2);
    border-radius: 4px;
    font-weight: 600;
}

.nav-link {
    color: rgb(225, 71, 30);
}

.nav-link:hover {
    color: rgb(225, 71, 30);
}

.active {
    /* border: 1px solid rgb(225, 71, 30); */
    background-color: rgb(225, 71, 30, 0.2);
    border-radius: 4px;
    height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(225, 71, 30) !important;
}

.cart-icon {
    height: 22px;
    width: 22px;
}

.cart-qty-wrapper {
    position: absolute;
    top: 6.9px;
    left: 84.3%;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    margin: 0 0 0 0;
    /* padding: 4px; */
}

.cart-qty {
    margin: 0 0 0 0;
    font-size: 11px;
    font-weight: 600;
    color: rgb(225, 71, 30);
}

/* ------------ index-page ----------- */
.index-main-div {
    min-height: 100vh;
    width: 100%;
}

.index-hero-div {
    height: calc(100vh - 3.5rem);
    width: 100%;
    /* background-color: rgb(225, 71, 30); */
    background-color: rgb(255, 200, 112);
}

.index-hero-text {
    height: 100%;
    width: 75%;
    /* padding: 3rem; */
    background-color: rgb(255, 157, 2);
    border-radius: 0 25% 25% 0;
}

.index-hero-text-container {
    width: 100%;
    padding: 2rem;
}

.hero-text {
    font-family: Helvetica;
    /* font-family: sans-serif; */
    margin: 0 0 0 0;
    font-size: 55px;
    font-weight: bolder;
    line-height: 1.3;
    color: white;
}

.index-hero-img {
    height: 100%;
    width: 35%;
    /* background-color: rgb(255, 157, 2); */
    /* border-radius: 50% 0 0 50%; */
}

.index-hero-pizza-img {
    position: absolute;
    top: 6.5rem;
    left: 45%;
}

/* .index-hero-img-bg {
    height: calc(100vh - 3.5rem);
    width: 50%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    background-color: rgb(145, 91, 30);
    opacity: 0.1;
    border-radius: 50% 0 0 50%;
} */

/* word-rotation */
.mask {
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    /* line-height: 1.06;
    letter-spacing: -0.02em; */
    height: 4rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    padding-bottom: 10px;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    /* background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1); */
    color: rgb(255, 209, 149);
}

.mask span:nth-child(2) {
    /* background-image: linear-gradient(45deg, #18e198 50%, #0ec15d); */
    color: rgb(255, 209, 149);
}

.mask span:nth-child(3) {
    /* background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c); */
    color: rgb(255, 209, 149);
}

.mask span:nth-child(4) {
    /* background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f); */
    color: rgb(255, 209, 149);
}

/* ------------------- */
.hero-order {
    width: 100%;
    /* margin: 1rem 0 0.5rem 0; */
    padding: 2rem 0 0 0;
}

.hero-order-btn {
    border: none;
    /* height: 3rem; */
    width: 12rem;
    padding: 0.3rem;
    background-color: rgb(255, 209, 149, 0.4);
    border: 1px solid rgb(245, 218, 186);
    border-radius: 4px;
}

.hero-order-btn-text {
    color: rgb(221, 62, 18);
    font-size: 20px;
    font-weight: bold;
    margin: 0 0.3rem 0 0;
}

.hero-order-btn-icon {
    height: 25px;
    width: 25px;
}

/* index menu pizza*/
.index-menu {
    width: 100%;
    background-color: rgb(248, 248, 233);
    padding: 2rem;
}

.index-menu-heading {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 0 0 0 0;
    color: black;
}

.index-menu-pizza {
    width: 100%;
    padding: 1rem;
}

.index-menu-pizza-text {
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.index-menu-pizza-row {
    width: 100%;
    row-gap: 1.5rem;
    margin: 0.5rem 0 0 0;
}

.index-menu-pizza-card {
    background-color: transparent;
    border: none;
}

.index-menu-pizza-card-img-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-menu-pizza-card-img {
    height: 200px;
    width: 200px;
}

.index-menu-pizza-card-body {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(222, 222, 222);
}

.index-pizza-card-title-wrapper {
    width: 100%;
    margin: 0 0 0.5rem 0;
}

.index-pizza-card-title {
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(247, 145, 39);
}

.index-pizza-type {
    background-color: rgb(247, 145, 39, 0.6);
    color: rgb(231 71 24);
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.index-pizza-card-text {
    margin: 0 0 0.5rem 0;
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.index-pizza-card-details {
    width: 100%;
    /* margin: 0.5rem 0 0 0; */
}

.index-pizza-card-price {}

.index-rupee-icon {
    height: 13px;
    width: 13px;
}

.index-price-text {
    font-size: 14px;
    font-weight: bold;
    color: rgb(231 71 24);
    margin: 0 0 0 0;
}

/* .index-pizza-add-btn-wrapper {} */

.index-pizza-add-cart-btn {
    border: none;
    background-color: rgb(247, 145, 39, 0.6);
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
    padding: 0.5rem;
    height: 1.5rem;
}

.index-pizza-add-btn-text {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0.1rem 0 0;
    color: rgb(231 71 24);
}

.index-cart-add-icon {
    height: 14px;
    width: 14px;
}

/* index menu burger*/
.index-menu-burger {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
}

.index-menu-burger-text {
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.index-menu-burger-row {
    width: 100%;
    row-gap: 1.5rem;
    margin: 0.5rem 0 0 0;
}

.index-menu-burger-card {
    background-color: transparent;
    border: none;
}

.index-menu-burger-card-img-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-menu-burger-card-img {
    height: 200px;
    width: 200px;
}

.index-menu-burger-card-body {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(222, 222, 222);
}

.index-burger-card-title-wrapper {
    width: 100%;
    margin: 0 0 0.5rem 0;
}

.index-burger-card-title {
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(247, 145, 39);
}

.index-burger-type {
    background-color: rgb(247, 145, 39, 0.6);
    color: rgb(231 71 24);
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.index-burger-card-text {
    margin: 0 0 0.5rem 0;
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.index-burger-card-details {
    width: 100%;
    /* margin: 0.5rem 0 0 0; */
}

/* .index-burger-card-price {} */

/* .index-burger-add-btn-wrapper {} */

.index-burger-add-cart-btn {
    border: none;
    background-color: rgb(247, 145, 39, 0.6);
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
    padding: 0.5rem;
    height: 1.5rem;
}

.index-burger-add-btn-text {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0.1rem 0 0;
    color: rgb(231 71 24);
}

/* ---------------- cart page ---------------- */
.cart-main-div {
    min-height: 100vh;
    width: 100%;
}

/* empty-cart */
.empty-cart-div-wrapper {
    height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: rgb(251, 247, 250);
}

/* .empty-cart-div {} */

.empty-cart-text {
    margin: 0 0 0.3rem 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.empty-cart-subtext {
    margin: 0 0 0.3rem 0;
    text-align: center;
    font-size: 14px;
    /* font-weight: 500; */
    color: rgb(188, 189, 194);
}

.empty-cart-img {
    height: 500px;
    width: 500px;
}

.cry-icon {
    height: 22px;
    width: 22px;
    margin: 0 0 0.25rem 0;
}

.empty-cart-back-btn {
    border: none;
    background-color: rgb(255, 200, 112);
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
    padding: 0.5rem;
    height: 2rem;
    width: 8rem;
}

.empty-cart-btn-text {
    color: rgb(221, 62, 18);
    font-size: 17px;
    font-weight: 600;
    margin: 0 0.4rem 0 0;
}

.empty-cart-back-icon {
    height: 17px;
    width: 17px;
}

/* --------------------------- */
.cart-wrapper {
    min-height: calc(100vh - 3.5rem);
    width: 100%;
}

.cart-added-items {
    /* overflow-y: scroll; */
    width: 70%;
    padding: 3rem;
}

.cart-header-wrapper {
    width: 100%;
}

.cart-header-text {
    margin: 0 0 0 0;
    font-size: 25px;
    font-weight: bolder;
}

.cart-items-count {
    margin: 0 0 0 0;
    font-size: 25px;
    font-weight: bolder;
}

.cart-added-items hr {
    border: 1px solid rgb(173, 173, 173);
}

.show-cart-header {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0.5rem 0.5rem 1rem 0;
}

.header-product-details {
    width: 40%;
}

.header-quantity {
    width: 20%;
}

.header-price {
    width: 20%;
}

.header-total {
    width: 20%;
}

.show-cart-header-text {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(154, 154, 154);
}

.show-cart-items {
    width: 100%;
    overflow-y: scroll;
    height: 25rem;
    /* padding-left: 0 !important; */
}

/* scrollbar */
.show-cart-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.show-cart-items::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(202, 202, 202, 0.2);
}

.show-cart-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #b1b1b1;
}

/* --------------------------------- */

.show-cart-items-row {
    width: 100%;
    margin: 0 0 0.7rem 0;
}

.show-product-details {
    width: 40%;
    padding: 0 0 0 0;
}

.show-product-details-img {
    height: 70px;
    width: 70px;
}

.product-details-wrapper {
    margin: 0 0 0 0.1rem;
}

.item-name {
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 600;
}

.item-size {
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: 600;
    color: rgb(231 71 24);
}

.show-quantity {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-price {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-total {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-cart-items-text {
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 600;
    /* color: rgb(154, 154, 154); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-cart-rupee-icon {
    height: 11px;
    width: 11px;
}

/* -------------------- */

.order-summary-wrapper {
    height: calc(100vh - 3.5rem);
    width: 30%;
    padding: 2rem;
}

.order-summary {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 237);
    border-radius: 6px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    overflow-y: scroll;
}

/* scrollbar */
.order-summary::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(235, 235, 237);
}

.order-summary::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(202, 202, 202, 0.2);
}

.order-summary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #b1b1b1;
}

/* --------------------------------- */

.order-summary-header p {
    margin: 0 0 0 0;
    font-size: 25px;
    font-weight: bolder;
}

.order-summary hr {
    border: 1px solid rgb(173, 173, 173);
}

.order-input-wrapper {
    width: 100%;
    padding: 0.3rem 0 0.3rem 0;
}

.address-input-wrapper {
    width: 100%;
    padding: 0.5rem;
}

.contact-input-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
}

.coupon-input-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
}

.coupon-apply-btn {
    border: none;
    height: 2rem;
    width: 4rem;
    background-color: rgb(231, 71, 24, 0.5);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.order-input-text {
    margin: 0 0 0.8rem 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(94, 94, 94);
}

.order-summary-input {
    width: 100%;
    height: 2.4rem;
    background-color: rgb(255, 255, 255);
    border: none;
    /* border: 1px solid #d2cdcd; */
    border-radius: 4px;
    padding: 0 0 0 0.5rem;
    color: rgb(71, 71, 71);
    font-size: 14px;
}

.order-summary-input::placeholder {
    font-size: 13px;
}

.order-summary-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem rgb(253, 189, 169);
    background-color: white;
}

.total-amount-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.5rem 0;
}

.total-amount-text {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(94, 94, 94);
    /* display: flex;
    align-items: center; */
}

.total-amount-rupee-icon {
    height: 11px;
    width: 11px;
    margin: 0 0 0.2rem 0;
}

.payment-type-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
}

.payment-type-text {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(94, 94, 94);
}

.payment-type-select {
    border: none;
    width: 60%;
    font-size: 14px;
}

.payment-type-select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.15rem rgb(253, 189, 169);
    background-color: white;
}

.place-order-btn-wrapper {
    width: 100%;
    padding: 1.2rem 0 1.5rem 0;
}
 
.place-order-btn {
    border: none;
    height: 2.2rem;
    width: 100%;
    background-color: rgb(234, 76, 43);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgb(191, 191, 191);
}

/* ------------ orders page ------------ */
.order-main-div {
    min-height: 100vh;
    width: 100%;
}

.no-orders-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.no-order-div {
    display: flex;
    flex-direction: column;
}

.no-order-text {
    font-size: 28px;
    font-weight: bolder;
    color: #161616;
    margin: 0 0 0 0;
}

.no-order-img {
    height: 250px;
    width: 250px;
}

.orders-wrapper {
    min-height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem 2rem 3rem;
}

.all-orders-text {
    font-size: 20px;
    font-weight: bolder;
    color: #343434;
    margin: 0 0 0 0;
}

.show-orders {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.orders-table {
    width: 70%;
}

.order-id-a {
    text-decoration: none;
    color: rgb(234, 76, 43);
}

.order-id-a:hover {
    color: rgb(255, 80, 45)
}

/* ------------ admin orders page ------------ */
.admin-order-main-div {
    min-height: 100vh;
    width: 100%;
}

.admin-no-orders-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.admin-no-order-div {
    display: flex;
    flex-direction: column;
}

.admin-no-order-text {
    font-size: 28px;
    font-weight: bolder;
    color: #161616;
    margin: 0 0 0 0;
}

.admin-no-order-img {
    height: 250px;
    width: 250px;
}

.admin-orders-wrapper {
    min-height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem 2rem 3rem;
}

.admin-all-orders-text {
    font-size: 20px;
    font-weight: bolder;
    color: #343434;
    margin: 0 0 0 0;
}

.admin-show-orders {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.admin-orders-table {
    width: 80%;
}

.admin-order-id-a {
    text-decoration: none;
    color: rgb(234, 76, 43);
}

/* .admin-order-id-a:hover {
    color: rgb(255, 80, 45)
} */

.admin-select {
    border: none;
    border: 1px solid rgb(192, 192, 192);
}

.admin-select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.15rem rgb(253, 189, 169);
    background-color: white;
}

.ordered-items {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0 0;
}

.ordered-items-text {
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 500;
    /* color: rgb(234, 76, 43); */
    color: rgb(95, 95, 95);
}

/* ------------- checkout success page ------------- */
.checkout-success-main-div {
    height: 100vh;
    width: 100%;
}

.checkout-success-wrapper {
    height: calc(100vh - 3.5rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-success-img {
    height: 300px;
    width: 300px;
}

.checkout-success-text {
    font-size: 25px;
    font-weight: bolder;
    color: #343434;
    margin: 0 0 0 0;
}

.checkout-success-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    height: 2rem; 
    width: 10rem;
    margin: 1rem 0 0 0;
    /* padding: 0.3rem; */
    background-color: rgb(234, 76, 43);
    border: 1px solid rgb(234, 76, 43, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(183, 183, 183);
}

.checkout-success-btn img {
    height: 15px;
    width: 15px;
    margin: 0 0.3rem 0 0;
}

.checkout-success-btn p {
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

/* ------------- single order page ------------ */
.single-order-main-div {
    height: 100vh;
    width: 100%;
}

.single-order-wrapper {
    height: calc(100vh - 3.5rem);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.single-order-details-container {
    height: 100%;
    width: 60%;
    background-color: rgb(239, 239, 239);
    padding: 3rem 4rem 3rem 4rem;
}

.order-details-text {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;
}

.order-details-text p:first-child {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin: 0 0 0 0;
}

.order-details-text p:last-child {
    font-size: 14px;
    font-weight: 500;
    color: rgb(15, 160, 56);
    margin: 0 0 0 0;
    padding: 0.25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5rem;
    box-shadow: 0 0 15px rgb(206, 205, 205);
}

.order-details-header {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0.5rem 0.5rem 1rem 0;
}

.order-details-product-details {
    width: 40%;
}

.order-details-quantity {
    width: 20%;
}

.order-details-price {
    width: 20%;
}

.order-details-total {
    width: 20%;
}

.show-cart-header-text {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(120, 120, 120);
}

.order-details-items {
    width: 100%;
    overflow-y: scroll;
    height: 25rem;
    /* padding-left: 0 !important; */
}

/* scrollbar */
.order-details-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(239, 239, 239)
}

.order-details-items::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(202, 202, 202, 0.2);
}

.order-details-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #b1b1b1;
}

/* --------------------------------- */

.order-details-items-row {
    width: 100%;
    margin: 0 0 0.7rem 0;
}

.show-order-product-details {
    width: 40%;
    padding: 0 0 0 0;
}

.show-order-product-details-img {
    height: 70px;
    width: 70px;
}

.order-product-details-wrapper {
    margin: 0 0 0 0.1rem;
}

.order-item-name {
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 600;
}

.order-item-size {
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: 600;
    color: rgb(231 71 24);
}

.show-order-quantity {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-order-price {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-order-total {
    width: 20%;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-order-cart-items-text {
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 600;
    /* color: rgb(154, 154, 154); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-order-cart-rupee-icon {
    height: 11px;
    width: 11px;
}

.single-order-status-container {
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    padding: 3rem 4rem 3rem 4rem;
}

/* ---------------------------------------- */
.order-details-footer {
    margin: 1.5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order-details-total-price {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.order-details-total-price p:first-child {
    font-size: 17px;
    font-weight: 500;
    color: #5c5c5c;
    margin: 0 2rem 0 0;
}

.order-details-total-price p:last-child {
    font-size: 17px;
    font-weight: 500;
    color: #161616;
}

.order-details-payment-type {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.order-details-payment-type p:first-child {
    font-size: 17px;
    font-weight: 500;
    color: #5c5c5c;
    margin: 0 2rem 0 0;
}

.order-details-payment-type p:last-child {
    font-size: 17px;
    font-weight: 500;
    color: #161616;
}

/* ---------------------------------- */
.track-delivery-text {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin: 0 0 2rem 0;
}

.order-status {
    display: flex;
    flex-direction: row;
}

.dot-line-wrapper {
    display: flex;
    flex-direction: column;
}

.dot {
    height: 38px;
    width: 38px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot i {
    color: #848383;
}

.line {
    height: 4rem;
    width: 2.5px;
    background-color: #d4d4d4;
    margin: 0.3rem 0 0.3rem 0;
    border-radius: 4px;
}

.order-status-details {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.7rem;
}

.order-status-details p:first-child {
    font-size: 17px;
    font-weight: 500;
    color: #9f9e9e;
    margin: 0 0 0 0;
}

.order-status-details p:last-child {
    font-size: 13px;
    font-weight: 500;
    color: #7e7c7c;
    margin: 0 0 0 0;
}

.current p:first-child {
    /* color: rgb(245, 163, 30); */
    color: rgb(229, 89, 42);
}

.current-dot span:first-child {
    background-color: rgb(245, 163, 30);
}

.current-dot span:last-child {
    background-color: rgb(245, 163, 30);
}

.current-dot span:first-child i {
    color: white;
}

