<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
  </head>
  <body>
    
    <div class="cart-main-div">
        <%- include("../components/header.ejs") %>
        <!-- <div class="empty-cart-div-wrapper d-flex align-items-center justify-content-center">
            <div class="empty-cart-div d-flex flex-column justify-content-center">
                <p class="empty-cart-text">Cart Empty <img class="cry-icon" src="/images/cry.svg"></p>
                <p class="empty-cart-subtext">You probably haven't ordered a pizza yet.<br> To order a pizza, go to the main page.</p>
                <img src="/images/empty-cart.svg" class="empty-cart-img" alt="empty">
                <button onclick="goToHome()" class="empty-cart-back-btn d-flex flex-row align-items-center justify-content-center mx-auto">
                    <p class="empty-cart-btn-text">Go Back</p>
                    <img src="/images/back.svg" class="empty-cart-back-icon" alt="">
                </button>
            </div>
        </div> -->
        <div class="cart-wrapper d-flex flex-row">
            <div class="cart-added-items">
                <div class="cart-header-wrapper d-flex justify-content-between">
                    <p class="cart-header-text">Your Cart</p>
                    <p class="cart-items-count"><span>5</span> items</p>
                </div>
                <hr>
                <div class="show-cart-header d-flex flex-row">
                    <div class="header-product-details">
                        <p class="show-cart-header-text">Product details</p>
                    </div>
                    <div class="header-quantity">
                        <p class="show-cart-header-text text-center">Quantity</p>
                    </div>
                    <div class="header-price">
                        <p class="show-cart-header-text text-center">Price</p>
                    </div>
                    <div class="header-total">
                        <p class="show-cart-header-text text-center">Total</p>
                    </div>
                </div>
                <div class="show-cart-items">
                    <div class="row show-cart-items-row">
                        <div class="show-product-details d-flex flex-row">
                            <img class="show-product-details-img" src="/images/pizza-menu1.png" alt="item">
                            <div class="product-details-wrapper d-flex justify-content-center flex-column">
                                <p class="item-name">Margarita</p>
                                <p class="item-size">Medium</p>
                            </div>
                        </div>
                        <div class="show-quantity">
                            <p class="show-cart-items-text">1</p>
                        </div>
                        <div class="show-price">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                        <div class="show-total">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                    </div>
                    <div class="row show-cart-items-row">
                        <div class="show-product-details d-flex flex-row">
                            <img class="show-product-details-img" src="/images/pizza-menu1.png" alt="item">
                            <div class="product-details-wrapper d-flex justify-content-center flex-column">
                                <p class="item-name">Margarita</p>
                                <p class="item-size">Medium</p>
                            </div>
                        </div>
                        <div class="show-quantity">
                            <p class="show-cart-items-text">1</p>
                        </div>
                        <div class="show-price">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                        <div class="show-total">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                    </div>
                    <div class="row show-cart-items-row">
                        <div class="show-product-details d-flex flex-row">
                            <img class="show-product-details-img" src="/images/pizza-menu1.png" alt="item">
                            <div class="product-details-wrapper d-flex justify-content-center flex-column">
                                <p class="item-name">Margarita</p>
                                <p class="item-size">Medium</p>
                            </div>
                        </div>
                        <div class="show-quantity">
                            <p class="show-cart-items-text">1</p>
                        </div>
                        <div class="show-price">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                        <div class="show-total">
                            <p class="show-cart-items-text"><img class="show-cart-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-summary-wrapper">
                <div class="order-summary">
                    <div class="order-summary-header">
                        <p>Order Summary</p>
                    </div>
                    <hr>
                    <div class="order-input-wrapper">
                        <div class="address-input-wrapper">
                            <p class="order-input-text">Address</p>
                            <input type="text" class="order-summary-input" id="address-input" placeholder="Enter your address">
                        </div>
                        <div class="coupon-input-wrapper">
                            <p class="order-input-text">Coupon Code</p>
                            <input type="text" class="order-summary-input" id="coupon-input" placeholder="Enter your code" disabled>
                            <button class="coupon-apply-btn">Apply</button>
                        </div>
                    </div>
                    <hr>
                    <div class="total-amount-wrapper">
                        <p class="total-amount-text">Total Amount</p>
                        <p class="total-amount-text"><img class="total-amount-rupee-icon" src="/images/rupee.svg"><span>250</span></p>
                    </div>
                    <div class="place-order-btn-wrapper">
                        <button class="place-order-btn">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        window.onload = () => {
            const navLinks = document.querySelectorAll(".nav-link");
            for (let i = 0; i < navLinks.length; i++) {
                if (navLinks[i].getAttribute("href") == "/cart") {
                    navLinks[i].classList.add("active");
                    break;
                }
            }
        };

        const goToHome = () => {
            window.location.href = "/";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>